#intro {
color: #595959;
font-family: arial, sans-serif;
font-size: larger;
text-align: left;
margin-top: 10%; 
margin-left: 9.5%;

}

#photo {
    margin-left: 26.5%
}

.row {
    font-family: arial, sans-serif;
    font-size: smaller;
    color: black;


}

.column {
    float: left;
    width: 35%;
  }
  
.column:after {
    content: "";
    display: table;
    clear: both;
    margin-left: 10%;
  }

